# name: CI Retraining MLflow Project

# on:
#   push:
#     branches: [main]
#   workflow_dispatch:

# jobs:
#   retrain:
#     runs-on: ubuntu-latest

#     steps:
#       - uses: actions/checkout@v4

#       - uses: actions/setup-python@v5
#         with:
#           python-version: '3.12.7'

#       - name: Install MLflow
#         run: |
#           pip install mlflow==2.19.0

#       - name: Run MLflow Project
#         run: |
#           mlflow run . --env-manager=local

name: MLflow CI

on:
  push:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install MLflow
        run: pip install mlflow==2.19.0

      - name: Run MLflow Project
        run: mlflow run .
