name: Train Model CI

on:
  push:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        pip install mlflow==2.19.0 pandas scikit-learn joblib matplotlib numpy

    - name: Run MLflow Project
      run: |
        mlflow run . --env-manager=local
